<div class="container mt-4">
  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-between">
      <h1 class="display-4 text-primary mb-0"><%= @todo_list.title %></h1>
      <div class="mt-3">
        <%= link_to 'Home', todo_lists_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
  <!-- Lista -->
  <%= render partial: "shared/tasks_list", locals: { todo_list: @todo_list, items: @items } %>
  <!-- Kanban -->
  <%= render 'shared/kanban', todo_list: @todo_list, items: @items %>
</div>
